<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>视频管理系统</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/common/css/common.css}">
    <!--<script type="text/javascript" th:src="@{/layui/layui.js}" />-->
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div th:replace="home_header.html"/>
    <div th:replace="home_nav_left.html"/>
</div>
</body>
</html>